@font-face {
    font-family: 'Ubuntu400';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), 
         url('../fonts/ubuntu-v20-latin-regular.woff') format('woff'); 
}
@font-face {
    font-family: 'Ubuntu500';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/ubuntu-v20-latin-500italic.woff2') format('woff2'), 
         url('../fonts/ubuntu-v20-latin-500italic.woff') format('woff'); 
}
@font-face {
    font-family: 'Ubuntu700';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v20-latin-700.woff2') format('woff2'), 
         url('../fonts/ubuntu-v20-latin-700.woff') format('woff'); 
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    height: 100vh;
} */

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 5rem 2rem auto 5rem;
    max-width: auto;
    margin: auto;
    background-image: url('../images/b4.jpg');
    background-size: contain;
}
header {
    grid-row: 1 / 2;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    background-color: rgb(44, 91, 156);
    /* background-color: red; */
}
nav {
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;

    position: fixed;
    top: 5rem;
    left: 10vw;
    right: 10vw;
    background: rgb(44, 91, 156);
    z-index: 99;
}
main {
    grid-row: 3 / 4;
    display: grid; 
    /* grid-template-rows: 6.25rem 400px 6.25rem 6.25rem; */
    grid-template-rows: auto auto ;
    grid-template-columns: 50% 50%;
    /* display: flex;
    justify-content: center; */
    /* align-content: flex-start; */
    /* flex-direction: column; */
    max-width: auto;
    margin: auto;
    /* background-color: red; */
}
footer {
    grid-row: 4 / 5;
    background-color: rgb(44, 91, 156);
    color: whitesmoke;
}

#leftnav > ul {
    list-style: none;
    display: flex;
}
#leftnav li {
    position: relative;
}
#leftnav a {
    text-decoration: none;
    color: white;
    padding: 0.9rem 1rem;
    display: block;

}
#leftnav ul ul {
    position: absolute;
    background: rgb(44, 91, 156);
    list-style: none;
    opacity: 0;
    visibility: hidden;
    padding-top: 20px;
    transition: 0.5s;
    z-index: 100;
    min-width: 100%;
}
#leftnav li:hover ul {
    opacity: 1;
    visibility: visible;
    padding-top: 0px;
}
#leftnav ul ul a {
    
    /* border-bottom: 1px solid rgb(230, 68, 21); */
    transition: 0.5s;
}
#leftnav ul ul a:hover {
    background: rgb(230, 68, 21);
}		



button {
    background-color: rgb(44, 91, 156);
    color: whitesmoke;
    font: 1.5rem 'Ubuntu700', sans-serif;
    border: none;
    width:35%;
    padding: 1rem;
}
button:hover {
    /* background-color: rgb(57, 156, 150); */
    background-color: rgb(230, 68, 21);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
#startwerbung{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 75%;
    font: 2rem 'Ubuntu700', sans-serif;
    color: whitesmoke;
    align-self: center;
    padding-left: 2rem;
    padding-bottom: 1rem;
}
#startkonto {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 75%;
    font: 1.5rem 'Ubuntu700', sans-serif;
    /* color: whitesmoke; */
    /* justify-self: center; */
     align-self: center; 
    /* padding-bottom: 1rem; */
    /* background-color: yellow; */
    padding-left: 1rem;
    /* margin-top: 1rem; */
}
#startlogin {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 75%;
    font: 1.5rem 'Ubuntu700', sans-serif;
    /* color: whitesmoke; */
    /* justify-self: center; */
     align-self: center; 
    /* padding-bottom: 1rem; */
    /* background-color: green; */
    padding-left: 1rem;
}
#startlogin p {
    padding-bottom: 1rem;
}
#startkonto p {
    padding-bottom: 1rem;
}
footer p,a {
    text-decoration: none;
    margin: 1rem .75rem;
    font: 1rem 'Ubuntu700', sans-serif;
    color: whitesmoke;
}


html { 
    font: 1rem 'Ubuntu400', sans-serif; 
    color: whitesmoke;
}

 h2, h3, h4 { 
    font: 2rem 'Ubuntu700', sans-serif; 
}
/* h1 {
    font-size: calc(2vw + 1.2rem);
    top: 40px;
    padding: 2%;
    text-align: center;
} */

h1 {
    /* display: flex; */
    /* justify-content: baseline; */
    align-self: center;
    /* width: 300px;
    height: 75px; */
    color: whitesmoke;
    font: 2rem 'Ubuntu700', sans-serif;
    text-shadow: -1px -1px 7px black;
}

h2,h3 {
    font-size: calc(1vw + 1.2rem);
    text-align: center;
}
h4 {
    color: rgb(44, 91, 156);
    padding-bottom: 0.6rem;
}